

<!DOCTYPE html>
<html>
<head>
    <link rel="stylesheet"
    href="https://cdn.jsdelivr.net/npm/boxicons@latest/css/boxicons.min.css">
    
    <link rel="stylesheet"
    href="https://unpkg.com/boxicons@latest/css/boxicons.min.css">
    <style>
        /* Add your CSS styling for the footer here */
        .footer {
            background-color: #333;
            color: #fff;
            padding: 10px;
            margin: 0%;           
        }

        .footer a {
            color: #fff;
            text-decoration: none;
        }

        .footer p {
            margin: 0;
        }
        .row{
            display: flex;
            flex-direction: row;
           justify-content: space-around;
           text-align: center;
           
            
        }
    </style>
</head>
<body>
    

    <div class="footer">
        
            <div class="row">
                <div>
                    <h4>Copyright</h4>
                    <p>&copy; 2023 TODO-LIST</p>
                </div>

                <div>
                    <h4>Contact</h4>
                    <p><a href="mailto:jothimani88531@gmail.com"><i class='bx bx-mail-send'> todo-list@gmail.com</i></a></p><br>
                    <p><a href="tel:+919942567716"><i class='bx bxl-whatsapp'>   +91 9942567716</i></a></p> 

                </div>
                <div>
                    <h4>Legal</h4>
                    <p><a href="#">Privacy Policy</a></p><br>
                    <p><a href="#">Terms of Service</a></p>
                </div>
                <div class="line">
                    <h4>Follow Us</h4>
                    <p><i class='bx bxl-github'></i><a href="https://github.com/masssmani123" target="_blank"> Github</a></p><br>
                    <p><i class='bx bxl-instagram'></i><a href="https://www.instagram.com/___jothi_mani___/" target="_blank"> Instragram</a></p><br>
                    <p><i class='bx bxl-linkedin'></i><a href="https://www.linkedin.com/in/jothi-mani-640665256/" target="_blank"> Linkedin</a></p>
                </div>
            </div>
        
    </div>
</body>
</html>
